{
    "plugins": [
        [
            "@semantic-release/commit-analyzer": "v9.0.2",
            {
                "preset": "conventionalcommits"
            }
        ],
        [
            "@semantic-release/release-notes-generator": "v11.0.5",
            {
                "preset": "conventionalcommits"
            }
        ],
        "@semantic-release/github",
        "@semantic-release/changelog": "v6.0.3",
        "@semantic-release/git"
    ]
}