{
    "plugins": [
        [
            "@semantic-release/commit-analyzer@9.0.2",
            {
                "preset": "conventionalcommits"
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits"
            }
        ],
        "@semantic-release/github",
        "@semantic-release/changelog",
        "@semantic-release/git"
    ]
}